/* Buttons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Buttons */
.button:not(.twisty),
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker,
link[href="chrome://global/content/elements/moz-button.css"] + button,
menulist,
.dialog-button-box button,
.close-icon,
.nav-button,
.miniday-nav-buttons,
button.calview-toggle-item,
button.button-menu-list,
.notification-button:not(.button-menu-list),
.notification-close,
.today-pane-cycler,
.address-pill,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#unifiedToolbar .unified-toolbar-button,
#starMessageButton,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton,
#calendar-add-task-button,
#miniday-dropdown-button,
#todaypane-new-event-button,
.spaces-toolbar-button,
#offline-status,
#spacesToolbarReveal,
#calendar-status-todaypane-button {
	appearance: none !important;
	background-color: var(--gnome-button-background) !important;
	border-radius: 6px !important;
	border: 0 !important;
	padding: 0 1px !important;
	height: 34px !important;
	max-height: 34px !important;
	min-height: 34px !important;
	min-width: 34px !important;
	color: var(--gnome-toolbar-color) !important;
	outline: 0 !important;
	font: menu !important;
	-moz-box-align: center !important;
	transition: background-color .3s;
}
.subviewbutton-iconic {
	-moz-box-pack: center !important;
}

/* Flat Buttons */
.button.button-flat,
.button.icon-button:not(.button-group .button),
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker,
link[href="chrome://global/content/elements/moz-button.css"] + button[type~="icon"],
.dialog-button-box button,
.close-icon,
button.calview-toggle-item,
.notification-close,
.today-pane-cycler,
.nav-button,
.miniday-nav-buttons,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#starMessageButton,
#calendar-add-task-button,
#todaypane-new-event-button,
#miniday-dropdown-button,
.icons-only #unifiedToolbar .unified-toolbar-button,
.icons-beside-text #unifiedToolbar .unified-toolbar-button,
.spaces-toolbar-button,
#offline-status,
#spacesToolbarReveal,
#calendar-status-todaypane-button {
	background-color: transparent !important;
	transition: background .3s;
}

/* Buttons with margins */
.message-header-view-button:not([is="toolbarbutton-menu-button"]),
toolbar .toolbarbutton-1,
.close-icon,
.nav-button,
.miniday-nav-buttons,
button.button-menu-list,
.notification-button:not(.button-menu-list),
.notification-close,
#calendar-add-task-button,
#event-filter-menulist,
#miniday-dropdown-button,
#quick-filter-bar .button,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#unifiedToolbar .unified-toolbar-button,
#starMessageButton {
	margin: 0 3px !important;
}
.close-icon:not(.tab-close-button) {
	margin-left: 6px !important;
}

/* Text buttons */
.button:not(.icon-only),
.dialog-button-box button,
button.calview-toggle-item,
.notification-button:not(.button-menu-list),
.text-only #unifiedToolbar .unified-toolbar-button,
.address-pill,
#appMenu-fontSizeReset-button:not(#hack) {
	padding: 2px 15px !important;
	font-weight: bold !important;
}
.text-only #unifiedToolbar .unified-toolbar-button {
	text-align: center !important;
}

/* Text and icon buttons */
.button.icon-button,
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.icons-beside-text #unifiedToolbar .unified-toolbar-button,
#calendar-add-task-button,
#todaypane-new-event-button,
menulist:not(#hack),
button.button-menu-list,
#calendar-status-todaypane-button {
	padding: 2px 9px !important;
	font-weight: bold !important;
}
.button.icon-button:not(.icon-only, #quick-filter-bar .button) {
	padding-inline-start: calc(9px * 1.5 + var(--icon-size)) !important;
	background-position: 9px center !important;
}
button.button-menu-list {
	padding-inline-end: calc(9px * 1.5 + var(--icon-size)) !important;
	background-position: right 9px center !important;
}
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	gap: 3px;
}
.icons-beside-text #unifiedToolbar .unified-toolbar-button .button-icon {
	margin-inline-end: 3px !important;
}

/* Collapsible */
.button.collapsible-button {
	background-position: 9px center !important;
}

@container threadPane (min-width: 999px) {
	.button.collapsible-button {
		font-weight: bold !important;
		padding: 2px 15px !important;
		padding-inline-start: calc(9px * 1.5 + var(--icon-size)) !important;
	}
}

/* Hover buttons */
.button:not(.twisty):not([disabled="true"]):hover,
link[href="chrome://global/content/elements/moz-button.css"] + button:not([disabled="true"]):hover,
.notification-button:not(.button-menu-list):not([disabled="true"]):hover,
.address-pill:not([disabled="true"]):hover,
#unifiedToolbar .unified-toolbar-button:hover,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not([disabled="true"]):hover,
menulist:not([disabled="true"]):hover,
button.button-menu-list:not([disabled="true"]):hover {
	outline: 0 !important;
	background-color: var(--gnome-button-hover-background) !important;
}

/* Hover flat buttons */
.button.button-flat:not(.twisty):not([disabled="true"], [aria-pressed="true"]):hover,
.button.icon-button:not(.button-group .button):not([disabled="true"], [aria-pressed="true"]):hover,
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]):not([disabled="true"], [open]):hover,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button:not([disabled="true"]):hover,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker:not([disabled="true"], [open]):hover,
link[href="chrome://global/content/elements/moz-button.css"] + button[type~="icon"]:not([disabled="true"], [aria-pressed="true"]):hover,
.dialog-button-box button:not([disabled="true"]):hover,
.close-icon:not([disabled="true"]):hover,
button.calview-toggle-item:not([disabled="true"]):hover,
.notification-close:not([disabled="true"]):hover,
.today-pane-cycler:not([disabled="true"]):hover,
.nav-button:not([disabled="true"]):hover,
.miniday-nav-buttons:not([disabled="true"]):hover,
#calendar-add-task-button:not([disabled="true"]):hover,
#todaypane-new-event-button:not([disabled="true"]):hover,
#miniday-dropdown-button:not([disabled="true"]):hover,
#unifiedToolbar toolbarbutton:not(.subviewbutton):not([open]):not([disabled="true"]):not([checked]):hover,
#starMessageButton:not([disabled="true"]):hover,
.icons-only #unifiedToolbar .unified-toolbar-button:hover,
.icons-beside-text #unifiedToolbar .unified-toolbar-button:hover,
.spaces-toolbar-button:hover,
#offline-status:not([disabled="true"]):hover,
#spacesToolbarReveal:hover,
#calendar-status-todaypane-button:hover {
	outline: 0 !important;
	background-color: var(--gnome-hover-color) !important;
}

/* Active buttons */
.button:not(.twisty):active,
.button[open],
.button.check-button[aria-pressed="true"],
menulist:not([disabled="true"]):is(:active, [open])
link[href="chrome://global/content/elements/moz-button.css"] + button:active,
button.button-menu-list:is(:active, [open]),
.notification-button:not(.button-menu-list):not([disabled="true"]):active,
.address-pill:not([disabled="true"]):active,
#unifiedToolbar .unified-toolbar-button:active,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not([disabled="true"]):is(:active, [checked="true"]) {
	background-color: var(--gnome-button-active-background) !important;
}

/* Active flat buttons */
.button.button-flat:not(.twisty):not([disabled="true"]):active,
.button.button-flat.check-button[aria-pressed="true"],
.button.icon-button:not(.button-group .button):not([disabled="true"]):active,
.button.icon-button.check-button:not(.button-group .button):not([disabled="true"])[aria-pressed="true"],
.toolbarbutton-1:not([is="toolbarbutton-menu-button"], [disabled="true"]):is(:active, [open]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"], [disabled="true"]) > .toolbarbutton-menubutton-button:not([disabled="true"]):active,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"], [disabled="true"]) > .toolbarbutton-menubutton-dropmarker:is(:active, [open]),
link[href="chrome://global/content/elements/moz-button.css"] + button[type~="icon"]:not([disabled="true"]):active,
.dialog-button-box button:not([disabled="true"]):active,
.close-icon:not([disabled="true"]):active,
.notification-close:not([disabled="true"]):active,
.today-pane-cycler:not([disabled="true"]):active,
.nav-button:not([disabled="true"]):active,
.miniday-nav-buttons:not([disabled="true"]):active,
#todaypane-new-event-button:not([disabled="true"]):active,
#calendar-add-task-button:not([disabled="true"]):active,
#miniday-dropdown-button:not([disabled="true"]):is(:active, [open]),
#unifiedToolbar toolbarbutton:not(.subviewbutton):not([disabled="true"]):not(#hack):active,
#unifiedToolbar toolbarbutton:not(.subviewbutton):not(.subviewbutton):not([disabled="true"])[open],
#unifiedToolbar toolbarbutton:not(.subviewbutton):not([disabled="true"])[checked],
#starMessageButton:active,
.icons-only #unifiedToolbar .unified-toolbar-button:active,
.icons-beside-text #unifiedToolbar .unified-toolbar-button:active,
.spaces-toolbar-button:active,
#offline-status:active,
#spacesToolbarReveal:active,
#calendar-status-todaypane-button:is(:active, [checked="true"]) {
	background-color: var(--gnome-active-color) !important;
}

/* Disabled buttons */
.button[disabled="true"],
.toolbarbutton-1[disabled="true"],
.dialog-button-box button[disabled="true"],
.close-icon[disabled="true"],
.nav-button[disabled="true"],
#unifiedToolbar toolbarbutton:not(.subviewbutton)[disabled="true"],
#unifiedToolbar .unified-toolbar-button[disabled="true"],
#todaypane-new-event-button[disabled="true"] {
	opacity: .5 !important;
}

/* Circle buttons */
#downloadsPanel-mainView .download-state .downloadButton,
.permission-popup-permission-remove-button:not(#hack) {
	border-radius: 100% !important;
}

/* Combined buttons */
.button-group .button:not(:last-of-type):not(#hack),
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not(:last-of-type) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
	margin-right: 0 !important;
}

.button-group .button:not(:first-of-type):not(#hack),
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not(:first-of-type) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	margin-left: 0 !important;
}

.button-group .button {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* Split buttons (flat) */
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) {
	border-radius: 6px !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]):hover {
	background-color: var(--gnome-hover-color) !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	position: relative !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker {
	min-width: 24px !important;
	width: 24px !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button::before {
	border-right: 1px solid var(--gnome-border-color);
	content: "";
	height: 22px;
	position: absolute;
	right: 0;
	top: 6px;
	transition: opacity .3s;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]):hover > .toolbarbutton-menubutton-button::before {
	opacity: 0;
}

/* Opaque buttons */
.button.button-primary {
	color: white !important;
	font-weight: bold !important;
}

/* Buttons with suggested action */
.button.button-primary:not(#hack) {
	background-color: var(--gnome-button-suggested-action-background) !important;
}

/* Buttons with destructive action */
#editBookmarkPanelRemoveButton,
#PanelUI-panic-view-button {
	background-color: var(--gnome-button-destructive-action-background) !important;
}

/* Opaque buttons hover */
.button.button-primary:not(#hack):hover {
	background-color: var(--gnome-button-suggested-action-background) !important;
	filter: brightness(110%);
}

/* Opaque buttons active */
.button.button-primary:not(#hack):active {
	filter: brightness(80%);
}

/* Compact buttons */
#threadTree tr.card-layout .tree-button-more,
#offline-status,
#spacesToolbarReveal,
#calendar-status-todaypane-button {
	padding-top: 0 !important;
	padding-bottom: : 0 !important;
	height: 22px !important;
	max-height: 22px !important;
	min-height: 22px !important;
	min-width: 22px !important;
}

