/* Replace icons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Icons color */
.button.icon-button,
.toolbarbutton-1,
.toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
link[href="chrome://global/content/elements/moz-button.css"] + button[type~="icon"],
link[href="chrome://global/content/elements/moz-message-bar.css"] + .container .icon,
.preview-icon,
.unified-toolbar-button,
.spaces-toolbar-button img,
button.email-action-flagged#starMessageButton,
.cal-event-toolbarbutton .toolbarbutton-icon,
.twisty,
.calendar-displayed,
.miniday-nav-buttons,
.today-pane-cycler,
.notification-close,
.subviewbutton-back .toolbarbutton-icon,
.subviewbutton-iconic[type="checkbox"] > .toolbarbutton-icon,
button.button-menu-list,
.checkbox-check[checked],
.radio-check[selected],
#spacesPinnedButton .toolbarbutton-icon,
#spacesToolbarReveal,
#offline-status,
#button-appmenu .toolbarbutton-icon,
#folderTree > li > .mode-container > .mode-button,
.tree-table-cell-container button.sorting,
.tree-columnpicker-button,
.attachmentcol-column img, .attachment-icon,
tr[data-properties~="tagged"] .tag-icon,
[is="tree-view-table"] img:not(#threadColButton img, .tree-button-thread img),
tr[data-properties~="outgoing"] .correspondentcol-column:not(#hack),
link[href="chrome://global/skin/dropmarker.css"] + image,
.search-button-icon,
.button-star,
.textbox-search-sign,
.textbox-search-clear,
.subviewbutton-back,
.PanelUI-subView .subviewbutton-nav::after,
#appMenu-fontSize-controls .toolbarbutton-icon,
#calendar-add-task-button,
#todaypane-new-event-button,
.toolbarbutton-menu-dropmarker,
#miniday-dropdown-button > .toolbarbutton-menu-dropmarker:not(#hack),
#calendarListHeader::after,
#calendar-list > li[calendar-readonly]::before,
#calendar-list > li[calendar-readonly]::after,
checkbox.treenode-checkbox > .checkbox-check,
#attachmentToggle,
.nav-button > .toolbarbutton-icon,
menupopup > menu::after,
.menu-iconic-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon,
menuitem[type="checkbox"],
menuitem[type="checkbox"][checked="true"],
menuitem[type="radio"],
menuitem[type="radio"][checked="true"] {
	fill: var(--gnome-toolbar-icon-fill) !important;
	-moz-context-properties: fill, fill-opacity !important;
}

.spaces-toolbar-button img:-moz-window-inactive,
.toolbarbutton-icon:-moz-window-inactive,
.button:-moz-window-inactive,
.search-button-icon:-moz-window-inactive,
.button-star:-moz-window-inactive,
.textbox-search-sign:-moz-window-inactive,
.textbox-search-clear:-moz-window-inactive,
.toolbarbutton-icon:-moz-window-inactive,
.search-button-icon:-moz-window-inactive,
.today-pane-cycler:-moz-window-inactive,
#offline-status:-moz-window-inactive,
#starMessageButton img,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close:-moz-window-inactive .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon:-moz-window-inactive,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon:-moz-window-inactive,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon:-moz-window-inactive,
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	fill-opacity: 0.8 !important;
}

:root {
	--spaces-icon-mail: var(--gnome-icon-mail-symbolic) !important;
	--spaces-icon-address-book: var(--gnome-icon-address-book-symbolic) !important;
	--spaces-icon-calendar: var(--gnome-icon-x-office-calendar-symbolic) !important;
	--spaces-icon-tasks: var(--gnome-icon-tasks-symbolic) !important;
	--spaces-icon-chat: var(--gnome-icon-chat-bubbles-text-symbolic) !important;
	/*--spaces-icon-overflow: var(--gnome-icon-last-symbolic) !important;*/
	--spaces-icon-settings: var(--gnome-icon-settings-symbolic) !important;
	--spaces-icon-collapse: var(--gnome-icon-first-symbolic) !important;
	--icon-collapse: var(--gnome-icon-first-symbolic) !important;
	--icon-spaces-menu: var(--gnome-icon-toggle-sidebar-symbolic) !important;
	--icon-app-menu: var(--gnome-icon-open-menu-symbolic) !important;
	--icon-folder: var(--gnome-icon-folder-symbolic) !important;
	--icon-inbox: var(--gnome-icon-inbox-symbolic) !important;
	--icon-draft: var(--gnome-icon-rich-text-symbolic) !important;
	--icon-template: var(--gnome-icon-folder-templates-symbolic) !important;
	--icon-sent: var(--gnome-icon-outbox-symbolic) !important;
	--icon-archive: var(--gnome-icon-mail-archive-symbolic) !important;
	--icon-trash: var(--gnome-icon-user-trash-symbolic) !important;
	--icon-trash-sm: var(--gnome-icon-user-trash-symbolic) !important;
	--icon-spam: var(--gnome-icon-junk-alt-symbolic) !important;
	--icon-spam-sm: var(--gnome-icon-junk-alt-symbolic) !important;
	--icon-mail-secure: var(--gnome-icon-mail-secure-symbolic) !important;
	--icon-tag: var(--gnome-icon-tag-symbolic) !important;
	--icon-tag-sm: var(--gnome-icon-tag-symbolic) !important;
	--icon-add: var(--gnome-icon-list-add-symbolic) !important;
	--icon-kebab: var(--gnome-icon-view-more-symbolic) !important;
	--icon-more: var(--gnome-icon-view-more-horizontal-symbolic) !important;
	--icon-cloud-download: var(--gnome-icon-update-symbolic) !important;
	--icon-filter: var(--gnome-icon-controls-big-symbolic) !important;
	--icon-display-options: var(--gnome-icon-list-large-symbolic) !important;
	--icon-pin: var(--gnome-icon-pin-symbolic) !important;
	--icon-unread: var(--gnome-icon-mail-unread-symbolic) !important;
	--icon-unread-sm: var(--gnome-icon-mail-unread-symbolic) !important;
	--icon-star: var(--gnome-icon-starred-symbolic) !important;
	--icon-star-sm: var(--gnome-icon-starred-symbolic) !important;
	--icon-address-book: var(--gnome-icon-address-book-symbolic) !important;
	--icon-attachment: var(--gnome-icon-mail-attachment-symbolic) !important;
	--icon-attachment-sm: var(--gnome-icon-mail-attachment-symbolic) !important;
	--icon-mail: var(--gnome-icon-mail-symbolic) !important;
	--icon-new-mail: var(--gnome-icon-mail-message-new-symbolic) !important;
	--icon-forward: var(--gnome-icon-mail-forward-symbolic) !important;
	--icon-forward-col: var(--gnome-icon-mail-forward-symbolic) !important;
	--icon-reply: var(--gnome-icon-mail-reply-sender-symbolic) !important;
	--icon-reply-all: var(--gnome-icon-mail-reply-all-symbolic) !important;
	--icon-reply-list: var(--gnome-icon-mail-reply-all-symbolic) !important;
	--icon-reply-col: var(--gnome-icon-mail-reply-all-symbolic) !important;
	--icon-replies-xs: var(--gnome-icon-mail-reply-all-symbolic) !important;
	--icon-calendar: var(--gnome-icon-x-office-calendar-symbolic) !important;
	--icon-calendar-today: var(--gnome-icon-month-symbolic) !important;
	--icon-nav-today: var(--gnome-icon-month-symbolic) !important;
	--icon-new-event: var(--gnome-icon-calendar-new-symbolic) !important;
	--icon-tasks: var(--gnome-icon-tasks-symbolic) !important;
	--icon-new-task: var(--gnome-icon-tasks-new-symbolic) !important;
	--icon-chat: var(--gnome-icon-chat-bubbles-text-symbolic) !important;
	--icon-rss: var(--gnome-icon-newspaper-symbolic) !important;
	--icon-sync: var(--gnome-icon-update-symbolic) !important;
	--icon-nav-back: var(--gnome-icon-go-previous-symbolic) !important;
	--icon-nav-left: var(--gnome-icon-pan-start-symbolic) !important;
	--icon-nav-left-sm: var(--gnome-icon-pan-start-symbolic) !important;
	--icon-nav-forward: var(--gnome-icon-go-next-symbolic) !important;
	--icon-nav-right: var(--gnome-icon-pan-end-symbolic) !important;
	--icon-nav-right-sm: var(--gnome-icon-pan-end-symbolic) !important;
	--icon-nav-up: var(--gnome-icon-go-up-symbolic) !important;
	--icon-nav-up-sm: var(--gnome-icon-pan-up-symbolic) !important;
	--icon-nav-down: var(--gnome-icon-go-down-symbolic) !important;
	--icon-nav-down-sm: var(--gnome-icon-pan-down-symbolic) !important;
	--icon-close: var(--gnome-icon-process-stop-symbolic) !important;
	--icon-print: var(--gnome-icon-printer-symbolic) !important;
	--icon-extension: var(--gnome-icon-application-x-addon-symbolic) !important;
	--icon-search: var(--gnome-icon-edit-find-symbolic) !important;
	--icon-eye: var(--gnome-icon-eye-open-negative-filled-symbolic) !important;
	--icon-hidden: var(--gnome-icon-eye-not-looking-symbolic) !important;
	--icon-pencil: var(--gnome-icon-edit-symbolic) !important;
	--icon-online: var(--gnome-icon-network-transmit-receive-symbolic) !important;
	--icon-offline: var(--gnome-icon-network-offline-symbolic) !important;
	--icon-settings: var(--gnome-icon-settings-symbolic) !important;
	--icon-unread-dot: var(--gnome-icon-bullet-symbolic) !important;
	--icon-new-indicator: var(--gnome-icon-bullet-symbolic) !important;
	--icon-close: var(--gnome-icon-window-close-symbolic) !important;
	--icon-check: var(--gnome-icon-select-symbolic) !important;
	--icon-tentative: var(--gnome-icon-question-symbolic) !important;
	--icon-photo-ban: var(--gnome-icon-stop-sign-large-symbolic) !important;
	--icon-column-menu: var(--gnome-icon-columns-symbolic) !important;
	--icon-redirect: var(--gnome-icon-network-transmit-receive-symbolic) !important;
	--icon-redirect-col: var(--gnome-icon-network-transmit-receive-symbolic) !important;
	--icon-file: var(--gnome-icon-rich-text-symbolic) !important;
	--icon-download: var(--gnome-icon-folder-download-symbolic) !important;
	--icon-lock: var(--gnome-icon-padlock-symbolic) !important;
	--icon-lock-disabled: var(--gnome-icon-padlock-insecure-symbolic) !important;
	--icon-spelling: var(--gnome-icon-tools-check-spelling-symbolic) !important;
	--icon-new-chat:var(--gnome-icon-chat-bubbles-text-symbolic) !important;
	
	--folder-pane-icon-new: var(--gnome-icon-list-add-symbolic) !important;
	--folder-pane-icon-more: var(--gnome-icon-view-more-horizontal-symbolic) !important;
	
	--font-size-decrease: var(--gnome-icon-zoom-out-symbolic) !important;
	--font-size-increase: var(--gnome-icon-zoom-in-symbolic) !important;
}

@media (prefers-color-scheme: light) {
	.button.button-primary.icon-button:not(#hack) {
		fill: #fff !important;
	}
}

/* Tinted icons */
#folderTree .icon {
	-moz-context-properties: fill, fill-opacity !important;
	fill: var(--icon-color) !important;
}

tr[data-properties~="flagged"] .button-star,
tr[data-properties~="flagged"] .tree-view-row-flag > .tree-button-flag > img:not(#hack) {
	fill: var(--gnome-toolbar-star-button) !important;
}
tr[data-properties~="tagged"] .tag-icon:not(#hack) {
	fill: var(--tag-color, currentColor) !important;
}
tr[data-properties~="unread"] .tree-view-row-unread > .tree-button-unread > img:not(#hack) {
	fill: var(--gnome-accent) !important;
}
tr[data-properties~="junk"] .tree-button-spam > img:not(#hack) {
	fill: var(--gnome-palette-red-2) !important;
}

/* Dimmed icons */
.searchbar-search-icon,
.textbox-search-sign,
.textbox-search-clear {
	opacity: 0.7 !important;
}
.textbox-search-clear:hover {
	opacity: 1 !important;
}

/* Fix icons sizes */
.menu-iconic-icon,
link[href="chrome://global/skin/dropmarker.css"] + image,
#calendarListHeader::after,
#calendar-list > li[calendar-readonly]::after,
#calendar-list > li[calendar-readonly]::before,
checkbox.treenode-checkbox > .checkbox-check,
.twisty > .twisty-icon {
	height: 16px !important;
	width: 16px !important;
}
button.button-menu-list {
	background-size: 16px !important;
}

/* Fix hardcoded images */
.tab-close-button,
#folderTree li .container > .twisty,
#starMessageButton,
#spacesToolbarReveal {
	background-position: center !important;
	background-repeat: no-repeat !important;
}
#spacesToolbarReveal {
	width: 16px;
}
.tab-close-button img,
#folderTree li .container > .twisty > .twisty-icon,
#starMessageButton img,
#spacesToolbarReveal img {
	display: none !important;
}

/* Icons active color */
treechildren::-moz-tree-twisty(selected, focus),
treechildren::-moz-tree-twisty(selected, focus, open),
treechildren::-moz-tree-image(selected, focus),
treechildren::-moz-tree-image(selected, focus, open),
.item.client:focus .item-twisty-container,
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty,
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty(open) {
	fill: #fff !important;
}

/* Window buttons */
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon {
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon {
	list-style-image: url("../icons/window-maximize-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon {
	list-style-image: url("../icons/window-restore-symbolic.svg") !important;
}
:root[tabsintitlebar][inFullscreen] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon {
	list-style-image: url("../icons/view-restore-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon {
	list-style-image: url("../icons/window-minimize-symbolic.svg") !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	list-style-image: url("../icons/view-restore-symbolic.svg") !important;
}

/* Menu checkbox */
menuitem[type="checkbox"] {
	list-style-image: none !important;
}
menuitem[type="checkbox"][checked="true"] {
	list-style-image: url("../icons/select-symbolic.svg") !important;
}
menuitem[type="checkbox"][disabled="true"] .menu-iconic-icon {
	opacity: 0.5;
}

/* Menu radio */
menuitem[type="radio"] {
	list-style-image: none !important;
}
menuitem[type="radio"][checked="true"] {
	list-style-image: url("../icons/bullet-symbolic.svg") !important;
}
menuitem[type="radio"] .menu-iconic-icon {
	border-radius: 100%;
	border: 1px solid var(--gnome-toolbar-icon-fill);
}
menuitem[type="radio"][disabled="true"] .menu-iconic-icon {
	opacity: 0.5;
}

/* Popovers subview menu arrow */
.subviewbutton-nav::after,
menupopup > menu::after {
	content: url("../icons/go-next-symbolic.svg") !important;
	fill-opacity: 1 !important;
	opacity: .3;
	height: 16px;
	width: 16px;
}
.subviewbutton-back {
	list-style-image: url("../icons/go-previous-symbolic.svg") !important;
}
.subviewbutton-back .toolbarbutton-icon {
	opacity: .3;
}

/* Dropmarker */
link[href="chrome://global/skin/dropmarker.css"] + image {
	 list-style-image: url("../icons/pan-down-symbolic.svg") !important;
}
.toolbarbutton-menu-dropmarker {
	content: url("../icons/pan-down-symbolic.svg") !important;
}

/* Tree views */
treechildren::-moz-tree-twisty,
.item.client .item-twisty-container {
	list-style-image: url("../icons/pan-end-symbolic.svg") !important;
	width: 16px !important;
	height: 16px !important;
}
.item.client .item-twisty-container {
	background-image: url("../icons/pan-end-symbolic.svg") !important;
}
treechildren::-moz-tree-twisty(open) {
	list-style-image: url("../icons/pan-down-symbolic.svg") !important;
}
.item.client.closed .item-twisty-container {
	background-image: url("../icons/pan-down-symbolic.svg") !important;
}

treechildren::-moz-tree-image(title, container),
treechildren::-moz-tree-image(title, open) {
	list-style-image: url("../icons/folder-symbolic.svg") !important;
}
treechildren::-moz-tree-image(title, query, dayContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_history____v) {
	list-style-image: url("../icons/preferences-system-time-symbolic.svg") !important;
}

#folderTree li.children > .container > .twisty {
	background-image: url("../icons/pan-down-symbolic.svg") !important;
	transition: transform 150ms ease;
}
#folderTree li.children.collapsed > .container .twisty {
	transform: rotate(-90deg);
}

/* Close button */
.close-icon {
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
}

/* Search entries */
.textbox-search-sign {
	list-style-image: url(../icons/edit-find-symbolic.svg) !important;
}
.textbox-search-sign {
	margin: 3px 0;
	max-height: 16px !important;
	width: 16px !important;
}
/* Text clear */
.textbox-search-clear {
	list-style-image: url("../icons/edit-clear-symbolic.svg") !important;
}

/* Star message header */
#starMessageButton {
	background-image: var(--gnome-icon-non-starred-symbolic) !important;
}
#starMessageButton.flagged {
	background-image: var(--gnome-icon-starred-symbolic) !important;
}

/* Tab icon */
.tab-close-button {
	background-image: url("../icons/window-close-symbolic.svg") !important;
}

/* Non starred mail */
tr:not([data-properties~="flagged"]) .tree-view-row-flag > .tree-button-flag > img,
tr:not([data-properties~="flagged"]) .button-star {
	--icon-star: var(--gnome-icon-non-starred-symbolic) !important;
	--icon-sta-sm: var(--gnome-icon-non-starred-symbolic) !important;
}

/* Cancel icon */
.imipDeclineCounterButton, .imipDeclineRecurrencesButton, .imipDeclineButton {
	list-style-image: var(--gnome-icon-process-stop-symbolic) !important;
}

/* Sidebar list headers */
checkbox.treenode-checkbox > .checkbox-check {
	background-image:  url("../icons/expander-arrow-symbolic.svg") !important;
	opacity: .55 !important;
	transform: rotate(0deg) !important;
}
#calendarListHeader > img {
	visibility: collapse;
}
#calendarListHeader::after {
	content:  url("../icons/expander-arrow-symbolic.svg");
	opacity: .55 !important;
	transition: transform 150ms ease;
}
#calendarListHeader[checked="true"]::after,
checkbox.treenode-checkbox[checked="true"] > .checkbox-check {
	transform: rotate(-180deg) !important;
}

/* Calendars list */
#calendar-list > li[calendar-readonly]::before {
	content: url("../icons/padlock-symbolic.svg");
}
#calendar-list > li[calendar-muted]::after {
	content: url("../icons/notifications-disabled-symbolic.svg");
}

/* Collapse */
#spacesToolbarReveal {
	background-image: url("../icons/last-symbolic.svg") !important;
}
