/* Mail view theming */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#headingWrapper,
#attachmentBar {
	background: var(--gnome-toolbar-background) !important;
}

#folderPaneHeaderBar:not([hidden]) {
	background: var(--gnome-sidebar-background) !important;
}

#folderPaneHeaderBar:not([hidden]) {
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}

#messageHeader {
	background: var(--gnome-window-background) !important;
}

#attachmentBar,
#attachmentView,
#attachmentList {
	border-top: 1px solid var(--gnome-toolbar-border-color) !important;
}

.list-header-title {
	font-size: inherit !important;
}

/* Sidebar */
#folderTree, #folderPaneHeaderBar {
	padding: 6px !important;
}
#folderTree > li:first-child > .mode-container {
	border: 0 !important;
}
#folderTree > li:not(:first-child) > .mode-container {
	padding-top: 3px !important;
}
#folderTree .container {
	border: 0 !important;
	margin-inline: 0 !important;
	margin: 1px 0 !important;
}
#folderTree:focus-within li.selected > .container, #folderTree li.drop-target > .container {
	color: var(--gnome-view-color) !important;
	outline: 2px solid color-mix(in srgb, var(--gnome-accent) 50%, transparent) !important;
	outline-offset: -2px !important;
}
#folderTree li > .container > .unread-count {
	background-color: var(--folderpane-unread-count-background) !important;
	color: var(--folderpane-unread-count-text) !important;
}

.folder-count-badge {
	min-width: 18px !important;
}

/* Filters */
.list-header-bar:not([hidden]), #quick-filter-bar {
	background: var(--gnome-secondary-sidebar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}
#quick-filter-bar-filter-text-bar {
	padding-top: 12px !important;
}
#qfb-qs-textbox {
	max-width: 100% !important;
}

/* List */
#threadTree {
	background: var(--gnome-secondary-sidebar-background) !important;
	padding: 0 !important;
}
#threadTree .tree-table {
	background: transparent !important;
}

#threadTree tr.card-layout {
	background: transparent !important;
	height: auto !important;
	
	/* Spacing */
	td {
		padding: 12px 12px !important;
	}
	&:not(:first-child) td {
		padding-top: 0 !important;
	}
	
	/* Card */
	.card-container {
		--thread-card-content-gap: 6px !important;
		background: none !important;
		border: 0 !important;
		border-radius: 6px !important;
		grid-template-columns: 1fr !important;
		min-height: 60px !important;

		.thread-card-column:first-child {
			display: none !important;
		}
		
		.thread-card-column:last-child {
			.thread-card-last-row {
				padding-inline-end: 3px !important;
			}
		}

		/* Labels */
		:is(.sender, .date, .subject) {
			color: var(--gnome-view-color) !important;
			font-weight: normal !important;
		}
		:is(.sender, .subject) {
			font-size: 1rem !important;
		}
		.subject {
			font-size: 9pt !important;
		}
		.date {
			font-size: 9pt !important;
			opacity: .8 !important;
		}
		
		/* Remove selected indicator */
		&::before {
			content: none !important;
		}
	}
	
	/* Improve card layout when there are no children */
	&:not(.children) .card-container {
		.thread-card-column:last-child {
			grid-template-areas:
				"sender sender"
				"subject details";
			grid-template-columns: auto content;
			
			.thread-card-row:first-child {
				grid-area: sender;
			}			
		}
	}
	
	/* Hover */
	&:hover .card-container {
		box-shadow: none !important;
	}
	&:not(.selected):hover .card-container {
		background: var(--gnome-hover-color) !important;
	}
	/* Active */
	&.selected .card-container {
		background: var(--gnome-selected-color) !important;
	}
	/* New */
	&[data-properties~="unread"] .card-container :is(.subject, .sender) {
		font-weight: bold !important;
	}
	/* Junk */
	&[data-properties~="junk"] .card-container :is(.sender, .date, .subject) {
		color: var(--color-red-60) !important;
	}
	/* Child */
	&[data-properties~="thread-children"] td {
		padding-inline-start: calc(var(--thread-child-start) + 12px) !important;
		&::before{
			border-color:  var(--gnome-view-color) !important;
		}
		&::after {
			fill: var(--gnome-view-color) !important;
			stroke: var(--gnome-view-color) !important;
		}
    }
}

/* Mesagge */
#messagePane {
	background: var(--gnome-view-background) !important;
}

#attachmentView,
#attachmentList {
	background: var(--gnome-view-background) !important;
}

/* Message notifications */
notification-message {
	margin: 0 !important;
}
.calendar-notification-bar,
link[href="chrome://global/content/elements/moz-message-bar.css"] + .container {
	background-color: color-mix(in srgb, var(--gnome-accent-bg) 30%, var(--gnome-window-background)) !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: var(--gnome-window-color) !important;
	gap: 6px !important;
	margin: 0 !important;
	padding: 6px !important;
	
	.text-content {
		font-weight: bold !important;
	}
}
